---
layout: default
title: GitLab Pricing
description: "See the options to self-host GitLab or use GitLab.com."
canonical_path: "/pricing/"
suppress_header: true
extra_css:
  - pricing.css
  - experiments.css
---
.pricing-page
  .container
    .header
      %h1 Choose a plan that suits your needs
      %p All plans have unlimited collaborators and <br/> private or public repositories

    - experiment_id = '8584'
    - experiment_flag = 'pricing-8584'

    <script data-cookieconsent="ignore" crossorigin="anonymous" src="https://unpkg.com/launchdarkly-js-client-sdk@2"></script>
    <script src="/javascripts/run-experiment.js" type="text/javascript" data-cookieconsent="ignore"></script>
    %script{type: "text/javascript", "data-cookieconsent": "ignore"}
      :plain
        runExperiment('#{experiment_id}', '#{experiment_flag}', null, null, 'production');
    %div.experiment-outer-wrapper{id: "experiment#{experiment_id}"}
      %span.loading-experiment 
      = partial "/experiments/#{experiment_id}-control"
      = partial "/experiments/#{experiment_id}-test"


    -# generate the "start now / buy now" self-hosted vs saas modal so it can be displayed when clicking a related button
    - data.pricing.plans.each do |plan|
      = partial 'modal', locals: plan_modal_options(plan)


    = partial 'includes/home/customer-logos-transparent'


    .row.faq
      %h2 Frequently asked questions
      .faq-holder
        - size = (data.pricing.questions.size / Float(2)).ceil
        - data.pricing.questions.each_slice(size) do |group|
          = partial 'includes/layout/question_group', locals: { group: group }


    .contact
      %h1 Still have questions? Get in touch.
      = link_to 'Contact Sales', '/sales/', class: 'btn'

